<form action="/payment/results"> 

<label for="apr">APR</label>

<input id="apr"  type="text" placeholder="what" name="APR">

<label for="year">Number of years</label>

<input id="year"  type="text" placeholder="what" name="Years">

<label for="principal">Principal</label>

<input id="principal"  type="text" placeholder="what" name="Principal">

<button>Calculate monthly payment</button>

</form>
