<form action="/rand/results">
  <label for="min">Minimum</label>
  <input id="min" type="text" placeholder="E.g. 1.5"name="user_min">
  <label for="max">Maximum</label>
  <input id="max" type="text" placeholder="E.g. 4.5"name="user_max">
  <button>Pick random number</button>
</form>
<a href="">
